
 
# Common credential files
*creds*
*.dat
*password*
*.httr-oauth*
 
# Private Node Modules
node_modules/
creds.js
 
# Private Files
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx
 
# Mac/OSX
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/